# Generate Training Dataset

In [ ]:
path = "data/ml_with_type/10/"
for name in os.listdir(path):
    if name.startswith("."):
        continue
    df = pd.read_csv(f"{path}/{name}")
    out = []
    count = 0
    for i, row in enumerate(tqdm(df.values)):
        if count < 3:
            out.append(row)
        elif count == 4:
            count = -1
        count += 1
    pd.DataFrame(out, columns=df.columns).to_csv(f"data/ml_with_type_new/{name}", index=None)

In [12]:

import utils.utils as utils

In [ ]:
import os
import pandas as pd
import sys 
sys.path.insert(0, '..')
import pandas as pd
import utils.utils as utils
import json
from tqdm import tqdm
from process.wrapper import mongodb_conn


dataset = {
    "Round1_T2D": {
        "tables": "../data/Dataset/Round1_T2D/tables",
        "cea":"../data/Dataset/Round1_T2D/gt/CEA_Round1_gt_WD.csv",
        "cpa":"../data/Dataset/Round1_T2D/gt/CPA_Round1_gt.csv",
        "cta": "../data/Dataset/Round1_T2D/gt/CTA_Round1_gt.csv"
    },
    "HardTableR2-2021": {
        "tables":"../data/Dataset/HardTablesR2/tables/", 
        "cea":"../data/Dataset/HardTablesR2/gt/cea.csv",
        "cpa":"../data/Dataset/HardTablesR2/gt/cpa.csv",
        "cta": "../data/Dataset/HardTablesR2/gt/cta.csv"
    },
    "HardTableR3-2021": {
        "tables":"../data/Dataset/HardTablesR3/tables/", 
        "cea":"../data/Dataset/HardTablesR3/gt/cea.csv",
        "cpa":"../data/Dataset/HardTablesR3/gt/cpa.csv",
        "cta": "../data/Dataset/HardTablesR3/gt/cta.csv"
    },
    "Round3": {
        "tables": "../data/Dataset/Round3_2019/tables/",
        "cea":"../data/Dataset/Round3_2019/gt/CEA_Round3_gt_WD.csv",
        "cpa":"../data/Dataset/Round3_2019/gt/CPA_Round3_gt.csv",
        "cta": "../data/Dataset/Round3_2019/gt/CTA_Round3_gt.csv"
    },
    "2T-2020": {
        "tables":"../data/Dataset/2T_Round4/tables/", 
        "cea":"../data/Dataset/2T_Round4/gt/cea.csv",
        "cpa": None,
        "cta": "../data/Dataset/2T_Round4/gt/cta.csv"
    },
    "Round4": {
        "tables": "../data/Dataset/Round4_2020/tables/",
        "cea":"../data/Dataset/Round4_2020/gt/cea.csv",
        "cpa":"../data/Dataset/Round4_2020/gt/cpa.csv",
        "cta": "../data/Dataset/Round4_2020/gt/cta.csv"
    }
}


for id_dataset in dataset:
    tables_path, cea_target_path, cpa_target_path, cta_target_path = list(dataset[id_dataset].values())
    cea_gt = utils.get_cea_ann(cea_target_path)

In [16]:
!ls ..

 app.py		    indexing.ipynb	   'result_with_type(only test).txt'
 bash		    model		    scripts
 data		    notebook.ipynb	    stats.ipynb
 data.txt	    process		    train
 evaluation.ipynb   __pycache__		    utils
 generation	    random_forest.ipynb
 indexing	    result_analysis.ipynb

In [3]:
import os
import pandas as pd
from tqdm import tqdm


dataset1 = ["HardTableR2-2021_100_m4", "HardTableR3-2021_100_m4", 
           "Round1_T2D_100_m4", "Round3_100_m4", "Round4_100_m4"]
dataset2 = ["2T-2020_100_m4", "HardTableR3-2021_100_m4", 
           "Round1_T2D_100_m4", "Round3_100_m4", "Round4_100_m4"]
dataset3 = ["2T-2020_100_m4", "HardTableR2-2021_100_m4", 
           "Round1_T2D_100_m4", "Round3_100_m4", "Round4_100_m4"]
dataset4 = ["2T-2020_100_m4", "HardTableR2-2021_100_m4", "HardTableR3-2021_100_m4", 
          "Round3_100_m4", "Round4_100_m4"]
dataset5 = ["2T-2020_100_m4", "HardTableR2-2021_100_m4", "HardTableR3-2021_100_m4", 
           "Round1_T2D_100_m4", "Round4_100_m4"]
dataset6 = ["2T-2020_100_m4", "HardTableR2-2021_100_m4", "HardTableR3-2021_100_m4", 
           "Round1_T2D_100_m4"]

combinations = {
    "ALL-2T_2020": dataset1, 
    "ALL-HTR2": dataset2, 
    "ALL-HTR3": dataset3, 
    "ALL-Round1_T2D": dataset4, 
    "ALL-Round3": dataset5, 
    "ALL-Round4":dataset6
}


path = "data/ml_with_type/10/"
for name_file_train in tqdm(combinations):
    if name.startswith("."):
        continue
    buffer = []    
    for name in combinations[name_file_train]:   
        buffer.append(pd.read_csv(f'{path}/{name}.csv'))
    df = pd.concat(buffer, axis=0)
    df.drop_duplicates(subset=list(set(df.columns)-set(["tableName"])), inplace=True)
    df.to_csv(f"{path}/{name_file_train}", index=False)

  0%|          | 0/9 [00:00<?, ?it/s]

In [4]:
combinations

{'ALL-2T_2020': ['HardTableR2-2021_100_m4',
  'HardTableR3-2021_100_m4',
  'Round1_T2D_100_m4',
  'Round3_100_m4',
  'Round4_100_m4'],
 'ALL-HTR2': ['2T-2020_100_m4',
  'HardTableR3-2021_100_m4',
  'Round1_T2D_100_m4',
  'Round3_100_m4',
  'Round4_100_m4'],
 'ALL-HTR3': ['2T-2020_100_m4',
  'HardTableR2-2021_100_m4',
  'Round1_T2D_100_m4',
  'Round3_100_m4',
  'Round4_100_m4'],
 'ALL-Round1_T2D': ['2T-2020_100_m4',
  'HardTableR2-2021_100_m4',
  'HardTableR3-2021_100_m4',
  'Round3_100_m4',
  'Round4_100_m4'],
 'ALL-Round3': ['2T-2020_100_m4',
  'HardTableR2-2021_100_m4',
  'HardTableR3-2021_100_m4',
  'Round1_T2D_100_m4',
  'Round4_100_m4'],
 'ALL-Round4': ['2T-2020_100_m4',
  'HardTableR2-2021_100_m4',
  'HardTableR3-2021_100_m4',
  'Round1_T2D_100_m4']}

In [29]:
df = pd.concat(buffer, axis=0)

In [ ]:
df.columns

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28023320 entries, 0 to 14280914
Data columns (total 28 columns):
 #   Column                Dtype
---  ------                -----
 0   tableName             object
 1   ntoken                int64
 2   popularity            int64
 3   pos_score             float64
 4   es_score              float64
 5   es_diff_score         float64
 6   ed                    float64
 7   jaccard               float64
 8   jaccardNgram          float64
 9   cosine_similarity     float64
 10  p_subj_ne             float64
 11  p_subj_lit            float64
 12  p_obj_ne              float64
 13  desc                  float64
 14  descNgram             float64
 15  cpa                   float64
 16  cpaMax                float64
 17  cta                   float64
 18  ctaMax                float64
 19  neural1_score         float64
 20  neural1_score_diff    float64
 21  neural2_score         float64
 22  neural2_score_diff    float64
 23  logistic1_score       float64
 24  logistic1_score_diff  float64
 25  logistic2_score       float64
 26  logistic2_score_diff  float64
 27  target                int64
dtypes: float64(24), int64(3), object(1)
memory usage: 6.1+ GB

In [31]:
df.drop_duplicates(subset=list(set(df.columns)-set(["tableName"])), inplace=True)

In [33]:
df.to_csv(f"{path}/final_ml.csv", index=False)

In [57]:
df = pd.read_csv(f"{path}/final_ml.csv")

In [ ]:
new_df = df.drop(columns=['cea',
       'cpa', 'cpaMax', 'cta', 'ctaMax', 'diff', 'neural1_score',
       'neural1_score_diff', 'neural2_score', 'neural2_score_diff',
       'logistic1_score', 'logistic1_score_diff', 'logistic2_score',
       'logistic2_score_diff'])

In [58]:
path

'data/ml_with_type/2'

In [59]:
new_df = df.drop(columns=[
       'neural1_score',
       'neural1_score_diff',
       'neural2_score',
       'neural2_score_diff',
       #'logistic1_score', 
       #'logistic1_score_diff',
       'logistic2_score',
       'logistic2_score_diff'
])

In [60]:
new_df

,tableName,ntoken,popularity,pos_score,es_score,es_diff_score,ed,jaccard,jaccardNgram,cosine_similarity,...,p_obj_ne,desc,descNgram,cpa,cpaMax,cta,ctaMax,logistic1_score,logistic1_score_diff,target
0,52299421_0_4473286348258170200,2,391,0.02,43.16,0.000,1.0,1.0,1.0,1.0,...,0.0,0.0,0.077,1.130,0.762,1.185,0.926,0.994,0.000,1
1,52299421_0_4473286348258170200,2,391,0.02,43.16,0.000,1.0,1.0,1.0,1.0,...,0.0,0.0,0.077,0.000,0.000,0.000,0.000,0.000,0.000,1
2,52299421_0_4473286348258170200,2,3,0.30,42.21,0.000,1.0,1.0,1.0,1.0,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.582,0.412,0
3,52299421_0_4473286348258170200,2,3,0.30,42.21,0.000,1.0,1.0,1.0,1.0,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0
4,52299421_0_4473286348258170200,2,3,0.31,42.21,0.001,1.0,1.0,1.0,1.0,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.704,0.290,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8010353,OHGI1JNY,1,75,0.02,31.91,0.003,1.0,1.0,1.0,1.0,...,0.6,0.0,0.059,1.246,1.000,1.000,1.000,1.000,0.000,1
8010354,OHGI1JNY,1,258,0.01,31.91,0.000,1.0,1.0,1.0,1.0,...,1.0,0.0,0.050,0.637,0.542,0.750,0.417,1.000,0.000,0
8010355,OHGI1JNY,1,15,0.05,31.75,0.001,1.0,1.0,1.0,1.0,...,1.0,0.0,0.000,0.095,0.095,0.167,0.167,0.997,0.003,0
8010356,OHGI1JNY,1,258,0.01,31.91,0.000,1.0,1.0,1.0,1.0,...,1.0,0.0,0.050,0.867,0.542,2.000,1.000,1.000,0.000,1
8010357,OHGI1JNY,1,15,0.05,31.75,0.001,1.0,1.0,1.0,1.0,...,1.0,0.0,0.000,0.325,0.325,0.061,0.061,0.997,0.003,0

In [61]:
new_df.drop_duplicates(subset=list(set(new_df.columns)-set(["tableName"])), inplace=True)

In [62]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7760046 entries, 0 to 8010357
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   tableName             object
 1   ntoken                int64
 2   popularity            int64
 3   pos_score             float64
 4   es_score              float64
 5   es_diff_score         float64
 6   ed                    float64
 7   jaccard               float64
 8   jaccardNgram          float64
 9   cosine_similarity     float64
 10  p_subj_ne             float64
 11  p_subj_lit            float64
 12  p_obj_ne              float64
 13  desc                  float64
 14  descNgram             float64
 15  cpa                   float64
 16  cpaMax                float64
 17  cta                   float64
 18  ctaMax                float64
 19  logistic1_score       float64
 20  logistic1_score_diff  float64
 21  target                int64
dtypes: float64(18), int64(3), object(1)
memory usage: 1.3+ GB

In [ ]:
a = {"a": 0}
b = [a.copy()]
a["a"] = 2
a, b

In [ ]:
for idx, row in tqdm(new_df.iterrows(), total=len(new_df)):
    pass

In [ ]:
df = pd.read_csv("./data/ml_with_type/final_ml.csv")

In [ ]:
df.columns

In [ ]:
df.drop(columns=["cea"], inplace=True)

In [ ]:
df

In [ ]:
new_df = df.drop(columns=list(set(df.columns)-set(["tableName", "cea", "cta", "ctaMax", "cpa", "cpaMax", "diff", "target"])))

In [ ]:
new

In [ ]:
new_df = df.sort_values(["target"]).drop_duplicates(subset=['ed', 'jaccard', 
                        'jaccardNgram', 'p_subj_ne', 'p_subj_lit', 'p_obj_ne', 'desc', 'descNgram', 'target'], keep='last')

In [ ]:
new_df

In [ ]:
final_df = df.drop_duplicates(subset=list(set(df.columns)-set(["tableName"])))

In [ ]:
final_df[final_df["target"]==0].describe()

In [ ]:
new_final_df = final_df.drop_duplicates(subset=['ed', 'jaccard', 
                        'jaccardNgram', 'p_subj_ne', 'p_subj_lit', 'p_obj_ne', 'desc', 'descNgram'], keep='last')

In [ ]:
final_df.no

In [ ]:
temp = final_df[~final_df.isin(new_final_df)].dropna()

In [ ]:
result = final_df.groupby(list(set(temp.columns) - set(["tableName", "target"])))

In [ ]:
result.count()

In [ ]:
out = final_df.duplicated(subset=list(set(temp.columns) - set(["tableName", "key", "target"])), keep=False)

In [ ]:
sum(out)

In [ ]:
final_df[out].sort_values(by=list(set(temp.columns) - set(["tableName","key", "target"]))).to_csv("out.csv")

In [ ]:
for state, frame in result:
    if len(frame) > 1:
        print("Alert!")

In [ ]:
len(final_df)

In [ ]:
temp.sort_values(by=list(set(temp.columns) - set(["tableName", "target"])))

In [ ]:
len(new_final_df) / len(final_df)

In [63]:
df = new_df
tables_name = df["tableName"].unique()
tables_name

array(['52299421_0_4473286348258170200', '53989675_0_8697482470743954630',
       '29414811_6_8221428333921653560', ..., 'ND6V1CBE', 'WH6JINCM',
       'OHGI1JNY'], dtype=object)

In [64]:
import numpy as np
np.random.shuffle(tables_name)
tables_name

array(['EG0QYLYC', '1WP08BB7', 'J2JEOK6T', ..., '5BQYA6K8', 'J2CB4B9C',
       '25KVEKE4'], dtype=object)

In [65]:
folds = np.array_split(tables_name, 5)

In [66]:
final_df = new_df
for i, values in enumerate(folds):
    final_df.loc[final_df["tableName"].isin(values)].to_csv(f"./data/ml_with_type/2_folds/logistic1/fold{i+1}.csv", index=False)

In [ ]:
folds

In [ ]:
len(final_df[final_df["target"]==1])/len(final_df)